body {
  font-family: "Ubuntu", sans-serif;
}

#title {
  background-color: #ff4c68;
  color: white;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
}

.container-fluid {
  padding: 3% 15%;
}

/* Navbar Section  */
.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
}

/* Download Buttons */
.download-btn {
  margin: 8% 3% 0 0;
}

/* Title Image  */
.title-img {
  width: 60%;
  transform: rotate(25deg);
}
