body {
  font-family: "Lexend", sans-serif;
  font-size: 15px;
  background-color: hsl(0, 0%, 95%);
  color: hsla(0, 0%, 100%, 0.75)
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  margin: 80px auto;
}

.sedan {
  background-color: hsl(31, 77%, 52%);
  padding: 40px;
}

.suv {
  background-color: hsl(184, 100%, 22%);
  padding: 40px;
}

.luxury {
  background-color: hsl(179, 100%, 13%);
  padding: 40px;
}

h1 {
  font-family: "Big Shoulders Display", cursive;
  font-size: 2.5rem;
  color: hsl(0, 0%, 95%);
}

.btn {
  padding: 10px 20px;
  border: 2px solid hsl(0, 0%, 95%);
  color: hsla(0, 0%, 100%, 0.75);
  border-radius: 30px;
  text-decoration: none;
  margin-top: 60px;
  cursor: pointer;
}

.btn1 {
  background-color: hsl(31, 77%, 52%);
}

.btn2 {
  background-color: hsl(184, 100%, 22%);
}

.btn3 {
  background-color: hsl(179, 100%, 13%);
}
